@charset "utf-8";

/*header*/
header#main_header{
	width: 960px;
	background-color: gray;
	margin:0 auto;
	position: relative;
	margin-bottom:30px;


}
header#main_header>h1{
	float:left;
	width: 150px;
	height: 140px;
	background-color:yellow;
	text-align:center;
	line-height: 140px
}

header#main_header>div.util_menu{
	float:right;
	margin-bottom:20px;
	width: 400px;
	background-color:pink;
/*	position:absolute;
	right: 0;top: 0;*/

}
/*header#main_header>div.util_menu>ul{}*/
header#main_header>div.util_menu>ul>li{
	float:left;
	width: 100px;
	line-height: 60px;
	text-align:center;}
header#main_header>div.util_menu>ul>li>a{display:block;}

header#main_header>nav.main_menu{
	float:right;
	width: 700px;
	background-color:#1d5da4;
/*	position: absolute;
	bottom: 0; right: 0;*/
}
/*header#main_header>nav.main_menu>ul{}*/
header#main_header>nav.main_menu>ul>li{
	float:left;
	width: 116.67px;
	text-align:center;
	line-height:60px;
}
header#main_header>nav.main_menu>ul>li>a{display:block;color:white;border-right:1px solid #326eac;}
header#main_header>nav.main_menu>ul>li>a:hover{background-color:#95c8ff;color:#1d5da4;}

/*content*/
div#content{
	width: 960px;
	background-color:red;
	margin:0 auto;
	margin-bottom: 30px
}
div#content>section#main_section{float:left;width: 750px;height: 500px;background-color:violet;}
div#content>section#aside{float:right;width: 200px;height: 500px;background-color:pink;}

/*footer*/
footer#main_footer{width: 960px;height: 100px;background-color:gray;margin:0 auto;}